# Python
__pycache__/
*.py[cod]
*$py.class

# Entorno virtual
venv/
env/
ENV/

# Carpeta instance (contiene secret key y base de datos)
instance/

# Variables de entorno
.env
.venv

# Flask
.flaskenv

# Base de datos
*.db

# Logs
*.log
